<!DOCTYPE html>
<html lang="fr-FR">
<%- include('../../include/head'); %>
<body>
<%current_menu='accueil'%>
<%-include('../../include/topmenu'); %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col" id="list">
            <%-include('./list')%>
        </div>
        <div class="col-md-6 col" id="edit">
            <%-include('./edit')%>
        </div>
    </div>
    <hr>
    <%-include('../../include/displaydialog');%>
    <%-include('../../include/footer');%>
</div> <!-- /container -->
<%-include('./scripts'); %>
</body>
</html>