<footer>
    <%if(typeof user !== 'undefined') {%>
    <p class="pull-left">last connection : <%=user.last_connexion_date%></p>
    <%}%>
    <p class="pull-right">&copy; Emmanuel David <%=new Date().getFullYear()%></p>
</footer>
